{% extends 'base.html' %}
{% block content %}
    <div class="col-12">
        <h3>Organizar horarios</h3>
    </div>
    <div class="col-12">
        <form method="post" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <lable for="">Turma</lable>
                        <select class="form-control" name="turma">
                            <option value="">----------------------------------------------------------</option>
                            {% for turma in turmas %}
                            <option value="{{turma.cod_turma}}">{{turma.identificacao}}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <lable for="">Sala</lable>
                       <select class="form-control" name="sala">
                            <option value="">----------------------------------------------------------</option>
                            {% for sala in salas %}
                            <option value="{{sala.cod_sala}}">{{sala.num}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <lable for="">Horario</lable>
                         <select class="form-control" name="dia_horario_ah">
                            <option value="">----------------------------------------------------------</option>
                            {% for dia in dias %}
                            <option value="{{dia.cod}}">{{dia}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <lable for="">Disciplina</lable>
                        <select class="form-control" name="disciplina_ah">
                            <option value="">----------------------------------------------------------</option>
                            {% for disciplina in disciplinas %}
                            <option value="{{disciplina.cod_disc}}">{{disciplina.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-12 botao-form">
                     <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>

        </form>
    </div>
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Turma</th>
                    <th>Sala</th>
                    <th>Disciplina</th>
                    <th>Dia da semana</th>
                    <th>Horário de ínicio da aula</th>
                    <th>Horário de término da aula</th>
                </tr>
            </thead>
            <tbody>
                {% for organizado in organizados %}
                    <tr>
                        <td>{{organizado.turma.identificacao}}</td>
                        <td>{{organizado.sala.num}}</td>
                        <td>{{organizado.disciplina_ah.nome}}</td>
                        <td>{{organizado.dia_horario_ah.dia}}</td>
                        <td>{{organizado.dia_horario_ah.hora_inicio}}</td>
                        <td>{{organizado.dia_horario_ah.hora_fim}}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}