{% extends 'base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 border">
            <h4 class="tittle">Cadastro de salas</h4>
            <form method="post" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="">Número da sala</label>
                            <input type="number" class="form-control" name="num">
                        </div>
                    </div>
                    <div class="col-12 botao-form">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 border">
            <h4 class="tittle">Visualizar salas</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Número da sala</th>

                    </tr>
                </thead>
                <tbody>
                    {% for sala in salas %}
                    <tr>
                        <td>{{sala.num}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
