{% extends 'base.html' %}
{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 border">
                <h4 class="tittle">Cadastro de turmas</h4>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Identificação da turma</label>
                                <input type="text" class="form-control" name="identificacao">
                            </div>
                        </div>
                        <div class="col-12 botao-form">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 border">
                <h4 class="tittle">Visualizar turmas</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Identificação</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for turma in turmas %}
                        <tr>
                            <td>{{turma.identificacao}}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
